body {
  padding: 0;
  margin: 0;
}

/* #### Aula 1 ####
nav {
  height: 50px;
  background-color: #999999;
}

footer {
  height: 100px;
  background-color: #CCCCCC;
}
*/

/* #### Aula 3 ####
lucas {
  background-color: green;
}
*/

/* #### Aula 8 ####
.teste {
  width: 600px;
  height: 300px;
  background-color: red;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
  .teste {
    width: 200px;
  }
}
*/

/* #### Aula 9 ####
.topo {
  width: 100%;
  max-width: 800px;
  height: 100px;
  margin: auto;
}

.logo {
  width: 50%;
  height: 100px;
  float: left;
  background-color: #EEE;
}

.menu {
  width: 50%;
  height: 100px;
  float: left;
  background-color: #DDD;
}

.corpo {
  width: 100%;
  max-width: 800px;
  height: 200px;
  margin: auto;
  background-color: #CCC;
}

.rodape {
  width: 100%;
  max-width: 800px;
  height: 100px;
  margin: auto;
  background-color: #DDD;
}

@media only screen and (max-width: 500px) {
  .topo {
    height: 200px;
  }

  .logo {
    width: 100%;
  }

  .menu {
    width: 100%;
  }
}
*/

p {
  padding: 10px;
}

h3 {
  padding-left: 10px;
}

.menu-mobile {
  display: none;
  height: 30px;
  text-align: center;
}

.site {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #FFF;
}

.topo {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: orange;
  text-align: center;
}

.menu {
  width: 25%;
  height: 300px;
  float: left;
}

.menu ul,
.menu li {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #CCC;
  padding-left: 10px;
}

.center {
  width: 50%;
  height: 300px;
  float: left;
}

.rightside {
  width: 25%;
  height: 300px;
  float: right;
  background-color: #DDD;
}

.rodape {
  clear: both;
  height: 80px;
  background-color: #CCC;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .center {
    width: 75%;
  }

  .rightside {
    width: 75%;
    height: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .menu-mobile {
    display: block;
  }

  .menu ul {
    display: none;
  }
  
  .menu {
    width: 100%;
    height: 30px;
  }

  .center {
    width: 100%;
  }

  .rightside {
    width: 100%;
    height: 100px;
  }
}