body {
  margin: 0;
}

/* #### Aula 1 ####
nav {
  height: 50px;
  background-color: #999999;
}

footer {
  height: 100px;
  background-color: #CCCCCC;
}
*/

/* #### Aula 3 ####
lucas {
  background-color: green;
}
*/

.teste {
  width: 600px;
  height: 300px;
  background-color: red;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
  .teste {
    width: 200px;
  }
}