body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #FFF;
}

.center {
  max-width: 1040px;
  margin: auto;
}

#top-menu {
  width: 100%;
  height: 35px;
  background-color: rgb(51, 51, 51);
}

.social-media-menu {
  height: 30px;
  display: block;
  position: absolute;
}

.social-media-menu ul {
  margin-top: 11px;
  padding-left: 0;
}

.social-media-menu ul li {
  list-style: none;
  display: block;
  float: left;
  padding-right: 15px;
}

.social-media-menu a {
  text-decoration: none;
  color: #FFF;
}

.social-media-btn {
  display: block;
  float: right;
}

.social-media-btn a img {
  padding-top: 4px;
  padding-right: 5px;
  float: left;
}

.social-media-btn input {
  margin-right: 5px;
  display: block;
  float: left;
}

#main-logo {
  display: block;
  position: absolute;
  height: 65px;
  width: 250px;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#main-logo span {
  color: #FFF;
  background-color: rgb(30, 143, 255);
}

#top-advertising {
  margin-top: 30px;
  margin-bottom: 15px;
  float: right;
  width: 650px;
  height: 80px;
  background-color: dodgerblue;
}

nav {
  width: 100%;
  height: 40px;
  background-color: red;
  clear: both;
}

nav ul {
  padding-top: 14px;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  display: block;
  float: left;
  padding-right: 15px;
}

nav a {
  text-decoration: none;
  color: #FFF;
}

.enter-sub-menu, .sports-sub-menu, .news-sub-menu {
  display: none;
  position: absolute;
  width: 100px;
}

.enter-sub-menu li a, .sports-sub-menu li a, .news-sub-menu li a {
  padding: 10px;
  background-color: red;
}

.enter-sub-menu li a, .sports-sub-menu li a, .news-sub-menu li a {
  display: block;
}

#latest-news {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border: 1px solid #CCC;
}

#news-title {
  display: inline-block;
  width: 180px;
  height: 30px;
  background-color: red;
}

#news-title p {
  margin: 0;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
}

#news-description {
  display: block;
  float: right;
  width: 860px;
  height: 30px;
}

#news-description p {
  margin: 8px;
  color: rgb(26, 26, 26);
}

article {
  display: inline-block;
  max-width: 750px;
}

.main-content {
  display: inline-block;
  max-width: 750px;
}

#banner {
  width: 100%;
  height: 335px;
  background-color: darkcyan;
  margin-top: 15px;
  margin-bottom: 15px;
}

.news {
  margin-bottom: 15px;
  width: 100%;
  height: 463px;
  border: 1px solid #CCC;
}

.section-title {
  width: 100%;
  height: 30px;
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

.section-title h2 {
  margin-top: 8px;
  display: block;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  padding-left: 5px;
  font-weight: normal;
}

.news-content {
  width: 100%;
  height: 434px;
}

#left-side-news {
  display: inline-block;
  width: 430px;
  height: 100%;
}

#right-side-news {
  width: 320px;
  height: 100%;
  display: block;
  float: right;
}

#news-image {
  width: 384px;
  height: 222px;
  background-color: rgb(75, 75, 75);
  margin-left: 15px;
  margin-top: 15px;
}

#news-image img {
  display: block;
  margin: auto;
}

#news-title-section {
  width: 384px;
  margin-left: 15px;
  margin-top: 15px;
}


#news-title-section h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
  color: rgb(26, 26, 26);
}

#comments p {
  margin-top: 15px;
  margin-left: 15px;
  color: rgb(141, 138, 138);
}

.other-news {
  width: 305px;
  height: 90px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#other-news-image {
  display: inline-block;
  height: 100%;
  width: 90px;
}

#other-news-title {
  height: 100%;
  width: 215px;
  display: block;
  float: right;
}

#other-news-title h4 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  margin-left: 15px;
  color: rgb(26, 26, 26);
}
#other-news-title p {
  margin-top: 10px;
  margin-left: 15px;
  color: rgb(141, 138, 138);
}

aside {
  width: 275px;
  display: block;
  float: right;
}

.secondary-content {
  margin-top: 15px;
  width: 275px;
  height: 100%;
  display: block;
  float: right;
}

.social-media {
  margin-bottom: 15px;
  width: 100%;
  height: 80px;
  border: 1px solid #CCC;
}

.social-media h2 {
  margin-top: 8px;
  display: block;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  padding-left: 5px;
  font-weight: normal;
}

#social-media-title {
  width: 100%;
  height: 30px;
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

#social-media-content {
  width: 100%;
  height: 50px;
}

.social-media-buttons {
  display: inline-block;
  margin-top: 12px;
  margin-left: 67px;
  align-items: center;
}

.latest-news-section {
  margin-bottom: 15px;
  width: 100%;
  height: 530px;
  border: 1px solid #CCC;
}

.latest-news-section h2 {
  margin-top: 8px;
  display: block;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  padding-left: 5px;
  font-weight: normal;
}

#latest-news-title {
  width: 100%;
  height: 30px;
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

.latest-news-content p {
  font-size: 15px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
  color: rgb(26, 26, 26);
}

.advertising-section {
  margin-bottom: 15px;
  width: 100%;
  height: 186px;
  border: 1px solid #CCC;
}

.advertising-section h2 {
  margin-top: 8px;
  display: block;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  padding-left: 5px;
  font-weight: normal;
}

#advertising-title {
  width: 100%;
  height: 30px;
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

.advertising-content img {
  width: 275px;
  height: 155px;
}
/*
.follow-us-section {
  margin-bottom: 15px;
  width: 100%;
  height: 186px;
  border: 1px solid #CCC;
}

.follow-us-section h2 {
  margin-top: 8px;
  display: block;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  padding-left: 5px;
  font-weight: normal;
}

#follow-us-title {
  width: 100%;
  height: 30px;
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}

.follow-us-content {
  width: 275px;
  height: 155px;
  background-color: rgb(46, 46, 46);
}
*/